<h2><font color="#004D7F" size=6>Módulo 4. Machine Learning</font></h2>



<h1><font color="#004D7F" size=4>  Tecnica de imputación simple usando la media</font></h1>

<br>
<div style="text-align: right">
<font color="#004D7F" size=3>Luisa López Vázquez</font><br>
<font color="#004D7F" size=3>Diplomado en Ciencia de Datos</font><br>

# Importar librerías

In [1]:
import numpy as np
import pandas as pd

In [2]:
#Leer archivo excel
titanic=pd.read_excel("titanic3.xls", sheet_name='titanic3')
titanic

FileNotFoundError: [Errno 2] No such file or directory: 'titanic3.xls'

En estadística, la imputación es la sustitución de valores no informados en una observación por otros.

# Importar archivo

# Exploración

In [5]:
titanic.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [7]:
titanic.shape

(1309, 14)

# Eliminar filas con NAN

In [8]:
titanic1 = titanic.dropna(axis=0, how="all")

In [9]:
titanic1.shape

(1309, 14)

In [10]:
titanic2 = titanic.dropna(axis=0, how="any") #Al menos una columna vacia

In [11]:
titanic2.shape

(0, 14)

In [12]:
titanic2

Empty DataFrame
Columns: [pclass, survived, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked, boat, body, home.dest]
Index: []

In [13]:
titanic.head(2)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"

# Rellenar NAN

In [15]:
#Contamos cuantos  nos faltan
pd.isnull(titanic["age"]).values.ravel().sum()

263

In [16]:
#Usamos fillna para llenar los datos faltantes
#media
columna_edad= titanic["age"].fillna(titanic["age"].mean())

In [20]:
columna_edad.head(42)

0     29.000000
1      0.916700
2      2.000000
3     30.000000
4     25.000000
5     48.000000
6     63.000000
7     39.000000
8     53.000000
9     71.000000
10    47.000000
11    18.000000
12    24.000000
13    26.000000
14    80.000000
15    29.881135
16    24.000000
17    50.000000
18    32.000000
19    36.000000
20    37.000000
21    47.000000
22    26.000000
23    42.000000
24    29.000000
25    25.000000
26    25.000000
27    19.000000
28    35.000000
29    28.000000
30    45.000000
31    40.000000
32    30.000000
33    58.000000
34    42.000000
35    45.000000
36    22.000000
37    29.881135
38    41.000000
39    48.000000
40    29.881135
41    44.000000
Name: age, dtype: float64

In [ ]:
titanic1["new_age"] = columna_edad

In [ ]:
edad = columna_edad.astype("int")