<h2><font color="#004D7F" size=6>Módulo 4. Machine Learning</font></h2>



<h1><font color="#004D7F" size=4> Tecnica de imputación multiple usando mice</font></h1>

<br>
<div style="text-align: right">
<font color="#004D7F" size=3>Luisa López Vázquez</font><br>
<font color="#004D7F" size=3>Diplomado en Ciencia de Datos</font><br>

In [1]:
import numpy as np
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
#!pip install impyute

Collecting impyute
  Downloading impyute-0.0.8-py2.py3-none-any.whl (31 kB)
Requirement already satisfied: numpy in c:\users\zakum\appdata\local\programs\python\python311\lib\site-packages (from impyute) (1.24.2)
Requirement already satisfied: scipy in c:\users\zakum\appdata\local\programs\python\python311\lib\site-packages (from impyute) (1.10.0)
Requirement already satisfied: scikit-learn in c:\users\zakum\appdata\local\programs\python\python311\lib\site-packages (from impyute) (1.2.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\zakum\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn->impyute) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\zakum\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn->impyute) (3.1.0)
Installing collected packages: impyute
Successfully installed impyute-0.0.8

[notice] A new release of pip is available: 23.0 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
from impyute.imputation.cs import mice
from sklearn.preprocessing import OrdinalEncoder

In [5]:
df = pd.read_csv('kidney_disease.csv')

In [6]:
cols_names={"bp":"blood_pressure",
          "sg":"specific_gravity",
          "al":"albumin",
          "su":"sugar",
          "rbc":"red_blood_cells",
          "pc":"pus_cell",
          "pcc":"pus_cell_clumps",
          "ba":"bacteria",
          "bgr":"blood_glucose_random",
          "bu":"blood_urea",
          "sc":"serum_creatinine",
          "sod":"sodium",
          "pot":"potassium",
          "hemo":"haemoglobin",
          "pcv":"packed_cell_volume",
          "wc":"white_blood_cell_count",
          "rc":"red_blood_cell_count",
          "htn":"hypertension",
          "dm":"diabetes_mellitus",
          "cad":"coronary_artery_disease",
          "appet":"appetite",
          "pe":"pedal_edema",
          "ane":"anemia"}

df.rename(columns=cols_names, inplace=True)

In [7]:
cols_names

{'bp': 'blood_pressure',
 'sg': 'specific_gravity',
 'al': 'albumin',
 'su': 'sugar',
 'rbc': 'red_blood_cells',
 'pc': 'pus_cell',
 'pcc': 'pus_cell_clumps',
 'ba': 'bacteria',
 'bgr': 'blood_glucose_random',
 'bu': 'blood_urea',
 'sc': 'serum_creatinine',
 'sod': 'sodium',
 'pot': 'potassium',
 'hemo': 'haemoglobin',
 'pcv': 'packed_cell_volume',
 'wc': 'white_blood_cell_count',
 'rc': 'red_blood_cell_count',
 'htn': 'hypertension',
 'dm': 'diabetes_mellitus',
 'cad': 'coronary_artery_disease',
 'appet': 'appetite',
 'pe': 'pedal_edema',
 'ane': 'anemia'}

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       400 non-null    int64
 1   age                      391 non-null    float64
 2   blood_pressure           388 non-null    float64
 3   specific_gravity         353 non-null    float64
 4   albumin                  354 non-null    float64
 5   sugar                    351 non-null    float64
 6   red_blood_cells          248 non-null    object
 7   pus_cell                 335 non-null    object
 8   pus_cell_clumps          396 non-null    object
 9   bacteria                 396 non-null    object
 10  blood_glucose_random     356 non-null    float64
 11  blood_urea               381 non-null    float64
 12  serum_creatinine         383 non-null    float64
 13  sodium                   313 non-null    float64
 14  potassium                312 non-null    float64
 15  haemoglobin              348 non-null    float64
 16  packed_cell_volume       330 non-null    object
 17  white_blood_cell_count   295 non-null    object
 18  red_blood_cell_count     270 non-null    object
 19  hypertension             398 non-null    object
 20  diabetes_mellitus        398 non-null    object
 21  coronary_artery_disease  398 non-null    object
 22  appetite                 399 non-null    object
 23  pedal_edema              399 non-null    object
 24  anemia                   399 non-null    object
 25  classification           400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [10]:
# Convertimos a numericas las columnas 
df.red_blood_cell_count = pd.to_numeric(df["red_blood_cell_count"], errors="coerce")
df["packed_cell_volume"] = pd.to_numeric(df["packed_cell_volume"], errors="coerce")
df["white_blood_cell_count"] = pd.to_numeric(df["white_blood_cell_count"], errors="coerce")

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       400 non-null    int64
 1   age                      391 non-null    float64
 2   blood_pressure           388 non-null    float64
 3   specific_gravity         353 non-null    float64
 4   albumin                  354 non-null    float64
 5   sugar                    351 non-null    float64
 6   red_blood_cells          248 non-null    object
 7   pus_cell                 335 non-null    object
 8   pus_cell_clumps          396 non-null    object
 9   bacteria                 396 non-null    object
 10  blood_glucose_random     356 non-null    float64
 11  blood_urea               381 non-null    float64
 12  serum_creatinine         383 non-null    float64
 13  sodium                   313 non-null    float64
 14  potassium                312 non-null    float64
 15  haemoglobin              348 non-null    float64
 16  packed_cell_volume       329 non-null    float64
 17  white_blood_cell_count   294 non-null    float64
 18  red_blood_cell_count     269 non-null    float64
 19  hypertension             398 non-null    object
 20  diabetes_mellitus        398 non-null    object
 21  coronary_artery_disease  398 non-null    object
 22  appetite                 399 non-null    object
 23  pedal_edema              399 non-null    object
 24  anemia                   399 non-null    object
 25  classification           400 non-null    object
dtypes: float64(14), int64(1), object(11)
memory usage: 81.4+ KB

In [12]:
# Eliminando filas, en este caso la columna "id"
df.drop(["id"], axis=1, inplace=True)
df.head()

,age,blood_pressure,specific_gravity,albumin,sugar,red_blood_cells,pus_cell,pus_cell_clumps,bacteria,blood_glucose_random,...,packed_cell_volume,white_blood_cell_count,red_blood_cell_count,hypertension,diabetes_mellitus,coronary_artery_disease,appetite,pedal_edema,anemia,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44.0,7800.0,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38.0,6000.0,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31.0,7500.0,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32.0,6700.0,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35.0,7300.0,4.6,no,no,no,good,no,no,ckd

In [17]:
# Creamos el ciclo
numerical_features = []
catergorical_features = []

for i in df.drop("classification", axis=1).columns:
    if df[i].nunique() > 7:
        numerical_features.append(i)
        print(numerical_features, i)
    else:
        catergorical_features.append(i)
        print(catergorical_features, i)

['age'] age
['age', 'blood_pressure'] blood_pressure
['specific_gravity'] specific_gravity
['specific_gravity', 'albumin'] albumin
['specific_gravity', 'albumin', 'sugar'] sugar
['specific_gravity', 'albumin', 'sugar', 'red_blood_cells'] red_blood_cells
['specific_gravity', 'albumin', 'sugar', 'red_blood_cells', 'pus_cell'] pus_cell
['specific_gravity', 'albumin', 'sugar', 'red_blood_cells', 'pus_cell', 'pus_cell_clumps'] pus_cell_clumps
['specific_gravity', 'albumin', 'sugar', 'red_blood_cells', 'pus_cell', 'pus_cell_clumps', 'bacteria'] bacteria
['age', 'blood_pressure', 'blood_glucose_random'] blood_glucose_random
['age', 'blood_pressure', 'blood_glucose_random', 'blood_urea'] blood_urea
['age', 'blood_pressure', 'blood_glucose_random', 'blood_urea', 'serum_creatinine'] serum_creatinine
['age', 'blood_pressure', 'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'sodium'] sodium
['age', 'blood_pressure', 'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'sodium', 'potassium'] potassium
['age', 'blood_pressure', 'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'sodium', 'potassium', 'haemoglobin'] haemoglobin
['age', 'blood_pressure', 'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'sodium', 'potassium', 'haemoglobin', 'packed_cell_volume'] packed_cell_volume
['age', 'blood_pressure', 'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'sodium', 'potassium', 'haemoglobin', 'packed_cell_volume', 'white_blood_cell_count'] white_blood_cell_count
['age', 'blood_pressure', 'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'sodium', 'potassium', 'haemoglobin', 'packed_cell_volume', 'white_blood_cell_count', 'red_blood_cell_count'] red_blood_cell_count
['specific_gravity', 'albumin', 'sugar', 'red_blood_cells', 'pus_cell', 'pus_cell_clumps', 'bacteria', 'hypertension'] hypertension
['specific_gravity', 'albumin', 'sugar', 'red_blood_cells', 'pus_cell', 'pus_cell_clumps', 'bacteria', 'hypertension', 'diabetes_mellitus'] diabetes_mellitus
['specific_gravity', 'albumin', 'sugar', 'red_blood_cells', 'pus_cell', 'pus_cell_clumps', 'bacteria', 'hypertension', 'diabetes_mellitus', 'coronary_artery_disease'] coronary_artery_disease
['specific_gravity', 'albumin', 'sugar', 'red_blood_cells', 'pus_cell', 'pus_cell_clumps', 'bacteria', 'hypertension', 'diabetes_mellitus', 'coronary_artery_disease', 'appetite'] appetite
['specific_gravity', 'albumin', 'sugar', 'red_blood_cells', 'pus_cell', 'pus_cell_clumps', 'bacteria', 'hypertension', 'diabetes_mellitus', 'coronary_artery_disease', 'appetite', 'pedal_edema'] pedal_edema
['specific_gravity', 'albumin', 'sugar', 'red_blood_cells', 'pus_cell', 'pus_cell_clumps', 'bacteria', 'hypertension', 'diabetes_mellitus', 'coronary_artery_disease', 'appetite', 'pedal_edema', 'anemia'] anemia

In [18]:
numerical_features

['age',
 'blood_pressure',
 'blood_glucose_random',
 'blood_urea',
 'serum_creatinine',
 'sodium',
 'potassium',
 'haemoglobin',
 'packed_cell_volume',
 'white_blood_cell_count',
 'red_blood_cell_count']

In [19]:
catergorical_features

['specific_gravity',
 'albumin',
 'sugar',
 'red_blood_cells',
 'pus_cell',
 'pus_cell_clumps',
 'bacteria',
 'hypertension',
 'diabetes_mellitus',
 'coronary_artery_disease',
 'appetite',
 'pedal_edema',
 'anemia']

In [20]:
# Replazar  valores incorrectos
df['diabetes_mellitus'] = df['diabetes_mellitus'].replace(to_replace = {'\tno':'no','\tyes':'yes',' yes':'yes'})
df['coronary_artery_disease'] = df['coronary_artery_disease'].replace(to_replace = '\tno', value='no')
df['classification'] = df['classification'].replace(to_replace = 'ckd\t', value = 'ckd')

In [21]:
# Mostramos la suma de los datos nulos que tenemos en nuestra lista de caracteristicas categoricas
df.loc[:, catergorical_features].isnull().sum().sort_values(ascending=False)

red_blood_cells            152
pus_cell                    65
sugar                       49
specific_gravity            47
albumin                     46
pus_cell_clumps              4
bacteria                     4
hypertension                 2
diabetes_mellitus            2
coronary_artery_disease      2
appetite                     1
pedal_edema                  1
anemia                       1
dtype: int64

In [11]:
#Mostramos la suma de los datos nulos que tenemos en nuestra lista de caracteristicas numericas

In [12]:
#Eliminamos classification

## Imputación de características numéricas usando MICE

In [13]:
# MICE requiere valores flotantes
# Convertimos las caracteristicas numericas a flotantes

In [14]:
# Pasar las matrices numpy a los mice

In [15]:
#Vemos cuantas valores nulos tenemos en nuestro dataFrame

In [16]:
#Ahora a nuestro dataFrame original le vamos a pasar los valores que 
# se obtuvieron de hacer la inputacion con mice

In [17]:
#Imprimimos para ver el resultado final

Ahora, los datos de entrenamiento  están listos.